<div class="container py-5">
  <div class="row h-100 justify-content-center align-items-center mt-5">
    <div class="col-md-4">
       @if(loading){
          <div class="shimmer-wrapper text-center">
              <div class="shimmer-circle shimmer-circle-md shimmer-animate rounded-3 my-5 w-100" style="height:30rem;"></div>
          </div>
       }@else{
          <div class="card">
            <div class="card-header text-center bg-primary text-white">
              <h4 class="p-2"><i class="bi bi-lock me-1"></i> Change Password</h4>
            </div>
            <div class="card-body">
              <h1 class="text-center mb-2 auth-icon text-primary">
                <i class="bi bi-person-circle"></i>
              </h1>
              <form action="" method="POST" autocomplete="off">
                <p class="card-text fw-bold text-muted text-center mb-4">
                  <small>Please complete the form below.</small>
                </p>
                <div class="input-group mb-3">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Current Password"
                  />
                  <span class="input-group-text" id="basic-addon1">
                    <i class="bi bi-key"></i>
                  </span>
                </div>
                <div class="input-group mb-3">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="New Password"
                  />
                  <span class="input-group-text" id="basic-addon2">
                    <i class="bi bi-key"></i>
                  </span>
                </div>
                <div class="input-group mb-3">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Confirm New Password"
                  />
                  <span class="input-group-text" id="basic-addon3">
                    <i class="bi bi-key"></i>
                  </span>
                </div>
                <button type="submit" class="btn btn-primary w-100" bbbTooltipTheme='dark' bbbTooltipPlacement='vertical' bbbTooltip='Update New Password'>
                  <i class="bi bi-save me-1"></i> Set Password
                </button>
              </form>
            </div>
          </div>
       }
    </div>
  </div>
</div>
